* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
}

#archive-detail-bg-image {
    width: 100%;
    height: 130%;
    background-image: url('/static/image/bg_login.jpeg');
    background-repeat: repeat-y;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 130%;
    background-size: 100% 130%;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    color: white;
}

#reservation-detail-bg-image {
    width: 100%;
    height: 115%;
    background-image: url('/static/image/bg_login.jpeg');
    background-repeat: repeat-y;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 115%;
    background-size: 100% 115%;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    color: white;
}

.img_div {
    width: 100%;
    height: 380px;
    background-image: url('/static/image/bg_search_result.jpg');
    background-repeat: no-repeat;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 380px;
    background-size: 100% 380px;
    position: absolute;
    z-index: 100;
    top: -80px;
    left: 0;
}


#archive-detail-bg-image > div.archive_detail {
    margin-top: 330px;
    height: 850px;
    color: black;
}

#archive-detail-bg-image > div.archive_detail > div > div.return_link {
    width: 300px;
    margin: 0 0 30px 0;
    color: #2b669a;
    font-size: 24px;
}

.result_general {
    width: 96%;
    margin-left: 2%;
    height: 700px;
    background-color: #efefef;
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 30px;
}

.result_general > div:nth-child(2) > .result_title {
    width: 1400px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    margin: 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

.result_general > div:nth-child(2) > .star_div {
    width: 100px;
    height: 80px;
    line-height: 80px;
    float: right;
}

#btn_star {
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 80px;
    background-image: url("/static/image/star-white.png");
    background-repeat: repeat-y;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: 50;
    cursor: pointer;
}


.result_general > .ar_detail {
    clear: both;
    margin-left: 30px;
    font-size: 22px;
}

.result_general > .ar_detail > div {
    height: 50px;
    line-height: 50px;
}

#archive-detail-bg-image > div.archive_detail > div > div.ar_detail > div:nth-child(6) > div:nth-child(1) {
    width: 17%;
    float: left;
}

#archive-detail-bg-image > div.archive_detail > div > div.ar_detail > div:nth-child(6) > div:nth-child(2) {
    width: 78%;
    height: 240px;
    overflow-y: scroll;
    font-size: 20px;
    color: dimgray;
    line-height: 30px;
    float: left;
    margin-top: 12px;
    text-align: justify;
}

