* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
}

#search-bg-image {
    background-image: url('/static/image/bg_search.jpg');
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    color: white;
}

#content-main {
    width: 50%;
    /*border: 1px solid red;*/
    height: 410px;
    position: relative;
    left: 25%;
    top: 42%;
}

/*search 1*/
#search_1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    color: black;
    /*display: none;*/
}
#search_1_particle {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #e5e5e5;
    opacity: 0.8;
    font-size: 18px;
    display: none;
}
#search_1_particle > .radio {
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    float: left;
}
#search_1_particle > .radio > label {
    margin-left: 20px;
}
#search_1_particle > .radio > label > input[type=radio]{
    margin: 14px 0 0 -20px;
}

.search-input-div{
    width: 100%;
    height: 60px;
    background-color: white;
    line-height: 60px;
    color: black;
    font-size: 22px;
    border-radius: 5px;
}
#search_1 > div.search-input-div > input[type=text] {
    width: 70%;
    height: 100%;
    line-height: 60px;
    padding-left: 5px;
    float: left;
    border: none;
}
#search_1 > div.search-input-div > div:nth-child(2) {
    font-size: 20px;
    color: dimgray;
    float: left;
    cursor: pointer;
}
.btn-xs {
    padding: 0 !important;
}

.search-btn-div {
    width: 60px;
    height: 60px;
    float: right;
    background-color: white;
    background-image: url("/static/image/btn_search.png");
    background-size: 80% 80%;
}
#search_1 > div.search-input-div > span {
    width: 60px;
    height: 60px;
    float: right;
    cursor: pointer;
    border-radius: 3px;
}

.search-type-btns-div {
    width: 100%;
    height:50px;
    background-color: darkgray;
    opacity: 0.8;
    line-height: 50px;
}

.search-type-btn {
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.search-type-btn-selected {
    background-color: #2b669a;
}

/*search 2*/
#search_2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    font-size: 22px;
    display: none;
}

#search_2 > div {
    width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
}

#search_2 > div:nth-child(1) {
    width: 45%;
}

#search_2 > div:nth-child(2) {
    width: 55%;
}

#search_2 > div > span {
    width: 30%;
    float: left;
    color: white;
    background-color: #2b669a;
}

#search_2 > div:nth-child(1) > input[type=text] {
    width: 70%;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    border: none;
    color: black;
}

#search_2 > div:nth-child(2) > .form-group {
    width: 56%;
    height: 60px;
    line-height: 60px;
    float: left;
}

#search_2 > div:nth-child(2) > .input-group-addon {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 14%;
    float: right;
    height: 60px;
    color: dimgray;
    background-color: #eeeeee;
}

#search_2 > div:nth-child(3), #search_3 > div:nth-child(2) {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#datetimepicker1 {
    width: 100%;
    color: black !important;
}

#datetimepicker1 > input {
    height: 60px;
    line-height: 60px;
    font-size: 22px;
}

#datetimepicker1 > span {
    width: 50px;
}

.btn-lg {
    padding: 10px !important;
}

/* search_3*/
#search_3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    color: black;
    display: none;
}

#search_3 > div:nth-child(1) > input[type=text] {
    width: 92%;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    border: none;
    color: black;
    float: left;
}

#search_3 > div:nth-child(1) > .input-group-addon {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    float: right;
    color: dimgray;
    padding: 7px 12px;
    background-color: #eeeeee;
    cursor: pointer;
}

/*type switch*/
#type_switch {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /*border: 1px solid #ff0000;*/
    color: black;
    font-size: 30px;
}
#type_switch > span {
    float: left;
    width: 33.3%;
    line-height: 60px;
    vertical-align: top;
}

#type_switch > span:nth-child(1) {
    text-align: right;
    padding-right: 10%;
    cursor: pointer;
}

#type_switch > span:nth-child(3) {
    text-align: center;
    cursor: pointer;
}

#type_switch > span:nth-child(5) {
    text-align: left;
    padding-left: 10%;
    cursor: pointer;
}

.switch_indicator {
    width: 5%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 80%;
}

#si1 {
    left: 13%;
}

#si2 {
    left: 48%;
    display: none;
}

#si3 {
    left: 82%;
    display: none;
}