{% extends "home_base.html" %}
{% block body_main %}
    {% load mrange %}
    <form id="form_create_demand" action="/create_demand" method="post">
        <div id="reservation-create-bg-image" class="demand-bg">
            <div class="resv_detail_banner_img_div">
            </div>

            <div class="demand_detail">
                <div class="input_inform">Merci de compléter les informations suivantes pour finaliser votre demande
                </div>
                <div class="input_inform">Vous pouvez choisir qu'une seule archives que vous souhaitez pour chaque
                    demande.
                </div>
                <div class="join_input_div">
                    <div class="demand_basic_info">
                        <div>Proposé par : {{ user.username }}</div>
                        <div>Crée le : {{ create_date|date:'d/m/Y' }}</div>
                    </div>
                    <div class="archive_document_demand">
                        <div>Archives :</div>
                        <div>
                            <div>Cote<span style="color:red;">*</span> :</div>
                            <input type="text" name="archive_id">
                        </div>
                        <div>
                            <div>Folio :</div>
                            <input type="number" name="folio">
                        </div>
                    </div>
                </div>

                <div class="vos_information">
                    <div class="vos_information_title">
                        Vos informations :
                    </div>
                    <div class="vos_information_info">
                        Merci de renseignez au moins une méthode de contact pour que le owner de ce rendez-vous peut
                        vous contacter et peut vous envoyer les archives que vous avez demandées dans ce
                        rendez-vous.
                    </div>
                    <div>
                        <div>
                            Nom : {{ user.last_name }}
                        </div>
                        <div>
                            Prénom : {{ user.first_name }}
                        </div>
                    </div>
                    <div>
                        <div>Adresse e-mail :</div>
                        <input type="email" name="receiver_email" value="

                                {% if user.receiver_mail %}{{ user.receiver_mail }}{% else %}{{ user.mail }}{% endif %}">
                    </div>
                </div>

                <div class="cancle_comfirm_div">
                    <a href="javascript:history.back(-1)">Annuler</a>
                    <div id="btn_div_create_demand">Déposer la demande</div>
                </div>

            </div>
        </div>
        </div>
    </form>
{% endblock %}