{% extends "home_base.html" %}
{% block body_main %}
    <div id="favorites-bg-image">
        <div class="return_link"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="">Retour au menu de l'espace
            personnel</a></div>

        <div>
            <div>Mes favoris</div>
            <div>Retrouvez toutes les ressources que vous avez ajoutées à vos favoris.</div>
            <div>
                <div>Archive sauvegardé :</div>
                <div>Vous n'avez pas encore ajouté d'archives à votre liste favoris.</div>
            </div>

            <div>
                <div>Producteurs sauvegardé :</div>
                <div>Vous n'avez pas encore ajouté de producteurs à votre liste favoris.</div>
            </div>
        </div>

    </div>
{% endblock %}