<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historien</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="/static/css/self_center.css">
    <link rel="stylesheet" href="/static/css/message_list.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/favorites.css">
    <link rel="stylesheet" href="/static/css/reservation.css">
    <link rel="stylesheet" href="/static/css/search_result.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/moment-with-locales.js"></script>
    <script src="/static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div id="header">
    <div id="header-left">
        <img src="/static/image/btn_book.png">
        <span>Archivesses</span>
    </div>
    <div id="header-right">
        <span{% if request.session.login_user_name %} id="link_to_selfcenter" style="cursor:pointer;"{% endif %}>Espace Personnel</span>
        <span>-</span>
        {% if request.session.login_user_name %}<span>{{ request.session.login_user_name }}</span>{% else %}
            <span id="link_to_login">Me connecter</span>{% endif %}
    </div>
</div>

{% block body_main %}{% endblock %}
</body>