{% extends "home_base.html" %}
{% load i18n %}
{% block body_main %}
    <div id="login-bg-image">
        <div class="title">{% trans 'Mon espace personnel' %}</div>
        <div class="subtitle">{% trans 'Se connecter' %}</div>
        <form id="form_login" action="/login" method="post">
            <div>{% trans "Les champs précédés d'un astérisque" %} (<span
                    style="color: red; ">*</span>) {% trans "sont obligatoires" %}</div>
            <div>
                <span>{% trans "Adresse courriel (exemple : nomprenom@domaine.com)" %}  *</span><br/>
                <input type="text" name="email">
            </div>
            <div>
                <span>{% trans "Mot de passe" %}  *</span><br/>
                <input type="password" name="password">
            </div>
            <div>
                <span>{% trans "Mot de passe oublié ?" %}</span>
                <div id="btn_login">{% trans "Se connecter" %}</div>
            </div>
        </form>

        <div class="subtitle">{% trans "S'inscrire" %}
        </div>
        <div>
            <div>{% trans "Inscrivez-vous et bénéficiez des services de l'espace personnel pour" %} :</div>
            <ul>
                <li>{% trans "Sauvegarder vos recherches dans les archives" %}</li>
                <li>{% trans "Ajouter les archives à favoris" %}</li>
                <li>{% trans "Consulter les détails de demande" %}</li>
                <li>{% trans "Consulter les détails de rendez-vous" %}</li>
            </ul>
        </div>
        <div>
            <div></div>
            <div></div>
            <div>{% trans "S'inscrire" %}</div>
        </div>
    </div>
{% endblock %}