{% extends "home_base.html" %}
{% load i18n %}
{% block body_main %}
    <div id="messages-list-bg-image">
        <div class="return_link"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a
                href="javascript:window.location=document.referrer;">
            {% trans "Retour au menu de l'espace personnel" %}</a></div>

        <div>
            <div>{% trans "Ma messagerie" %}</div>
            <div id="msg_title_div">
                <span>{% trans "Sujet" %} : {{ message.title }}</span>
                {% if message.category == 0 %}
                    <div style="background-color: orangered;">ADMIN</div>
                {% elif message.category == 1 %}
                    <div style="background-color: aqua">RDV</div>
                {% else %}
                    <div style="background-color: yellow;">DEMAND</div>
                {% endif %}
            </div>
            <div id="msg_content">{{ message.content|safe }}</div>
        </div>

    </div>
{% endblock %}