{% extends "home_base.html" %}
{% block body_main %}
    <div id="messages-list-bg-image">
        <div class="return_link"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="">Retour au menu de l'espace
            personnel</a></div>

        <div>
            <div>Ma messagerie</div>
            <div>Retrouvez toutes les notifications que vous avez reçues pour les rendez-vous et pour
                l'administration.
            </div>
            <div>L'ouverture d'une notification fait office d'accusé de confirmation de rendez-vous réservé et tous les
                modifications fait par le rendez-vous owner.
            </div>
            <div>
                <div>Filtrer mes notifications :</div>
                <div>
                    <select name="" id="">
                        <option value="">Tous les catégories</option>
                    </select>
                </div>
            </div>
            <ul>
                <li>
                    <div class="envelop"></div>
                    <div style="font-weight: bold;">25/02/2021</div>
                    <div>
                        <div>RDV</div>
                    </div>
                    <div style="font-weight: bold;">Confirmation de votre adhésion à RDV</div>
                    <div><a href="">Supprimer</a></div>
                </li>
                <li>
                    <div class="envelop"></div>
                    <div>25/02/2021</div>
                    <div>
                        <div>ADMIN</div>
                    </div>
                    <div>Confirmation de création de vote compte</div>
                    <div><a href="">Supprimer</a></div>
                </li>
            </ul>
            <div class="pager">
                <div>2 sur 2</div>
                <div><a href="">1</a></div>
            </div>
        </div>

    </div>
{% endblock %}