{% extends "home_base.html" %}
{% load i18n %}
{% block body_main %}
    <div id="reservation-bg-image">
        <div class="return_link"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="javascript:history.back(-1)">
            {% trans "Retour au menu de l'espace personnel" %}</a></div>

        <div>
            <div>{% trans "Mes rendez-vous" %}</div>
            <div>{% trans "Retrouvez touts les rendez-vous que vous avez demandés ou rejoint." %}</div>
            <div>
                <div>
                    <div>{% trans "En cours" %}</div>
                    <div class="indicator"></div>
                </div>
                <div>
                    <div>{% trans "Passé" %}</div>
                    <div class="indicator" style="display: none;"></div>
                </div>
            </div>

            <div id="reservation_detail">
                <table>
                    <thead>
                    <tr>
                        <th>
                            <div>{% trans "Numéro" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Rôle" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Fin de Date" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Archive demandé" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Status" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Opération" %}</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if reservation_list|length > 0 %}
                        {% for item in reservation_list %}
                            <tr class="my_resv_table_tr">
                                <td id="resv_list_item_id" class="my_resv_table_tr_td">{{ item.id }}</td>
                                <td id="resv_list_item_role" class="my_resv_table_tr_td">
                                    {% if item.creator.id == user.id %}{% trans "Proposeur" %}{% else %}
                                        {% trans "Demandeur" %}{% endif %}</td>
                                <td class="my_resv_table_tr_td">{{ item.expire_date|date:"d/m/Y" }}</td>
                                <td class="my_resv_table_tr_td_archive">
                                    {% for item2 in item.archive_list %}
                                        <div>{{ item2.archive.id }}</div>
                                    {% endfor %}
                                </td>
                                <td class="my_resv_table_tr_td">
                                    {% if item.status == 0 %}{% trans "N'est pas allé" %}{% else %}
                                        {% trans "Est allé" %}{% endif %}</td>
                                <td class="my_resv_table_tr_td">
                                    {% if item.creator.id == user.id %}
                                        <a href="/to_resv_detail_creatorview?resv_id={{ item.id }}">{% trans "Voir les détails" %}</a>
                                    {% else %}
                                        {% if item.status == 0 %}
                                            <a id="submit_undo_join_link_{{ item.id }}" href="#"
                                               style="color: red;">{% trans "Supprimer" %}</a>
                                        {% else %}
                                            <a id="submit_confirm_status_link_{{ item.id }}" href="#"
                                               style="color: #4cae4c;">{% trans "Confirmer" %}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">{% trans "Vous n'avez pas de rendez-vous en cours." %}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div id="reservation_detail_finished">
                <table>
                    <thead>
                    <tr>
                        <th>
                            <div>{% trans "Numéro" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Rôle" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Fin de Date" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Archive demandé" %}</div>
                        </th>
                        <th>
                            <div>{% trans "Status" %}</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if reservation_list_finished|length > 0 %}
                        {% for item in reservation_list_finished %}
                            <tr class="my_resv_table_tr">
                                <td id="resv_list_item_id" class="my_resv_table_tr_td">{{ item.id }}</td>
                                <td id="resv_list_item_role" class="my_resv_table_tr_td">
                                    {% if item.creator.id == user.id %}{% trans "Proposeur" %}{% else %}
                                        {% trans "Demandeur" %}{% endif %}</td>
                                <td class="my_resv_table_tr_td">{{ item.expire_date|date:"d/m/Y" }}</td>
                                <td class="my_resv_table_tr_td_archive">
                                    {% for item2 in item.archive_list %}
                                        <div>{{ item2.archive.id }}</div>
                                    {% endfor %}
                                </td>
                                <td class="my_resv_table_tr_td">{% trans "Terminé" %}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">{% trans "Vous n'avez pas de rendez-vous en cours." %}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="my_resv_pager">
                <div></div>
                <div>
                    <nav aria-label="Page navigation">
                        <input id="currentPage" name="currentPage" type="hidden" value="{{ reservation_list.number }}">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for page in reservation_list.paginator.page_range %}
                                <li><a id="myresv_page_link_{{ page }}" href="#"
                                       {% if reservation_list.number == page %}style="background: #2b669a; color: white;"{% endif %}>{{ page }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
{% endblock %}