{% extends "home_base.html" %}
{% block body_main %}
    <div id="self-profile-bg-image">
        <div class="return_link"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="">Retour au menu de l'espace
            personnel</a></div>

        <div>
            <div>Mon profil</div>
            <div>Vous pouvez ici modifier ou compléter vos coordonnées et informations personnelles.</div>
            <div>Les champs précédés d'un astérisque (<span style="color: red;">*</span>) sont obligatoires.</div>
            <form id="edit_profile_form" action="/profile" method="post">
                <div>
                    <div>
                        <div class="hint">Civilité <span style="color: red">*</span> :</div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="genderRadios" id="optionsRadios1" value="1"
                                       {% if user.u_gender == 1 %}checked{% endif %}>
                                M.
                            </label>
                            <label>
                                <input type="radio" name="genderRadios" id="optionsRadios2" value="2"
                                       {% if user.u_gender == 2 %}checked{% endif %}>
                                Mme.
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="hint">Nom <span style="color: red">*</span> :</div>
                        <input type="text" name="firstname" value="{{ user.u_first_name }}" disabled>
                        <div class="hint hint2">Prénom <span style="color: red">*</span> :</div>
                        <input type="text" name="lastname" value="{{ user.u_last_name }}" disabled>
                    </div>
                    <div>
                        <div class="hint">Pays:</div>
                        <input type="text" name="nation" value="{{ user.u_nation }}">
                    </div>
                    <div>
                        <div class="hint">Code Postal:</div>
                        <input type="text" name="post_code" value="{{ user.u_post_code }}">
                        <div class="hint hint2">Ville:</div>
                        <input type="text" name="city" value="{{ user.u_city }}">
                    </div>
                    <div>
                        <div class="hint">Adresse :</div>
                        <input type="text" name="address" value="{{ user.u_address }}">
                    </div>
                    <div>
                        <div class="hint">E-mail<span style="color: red">*</span> :</div>
                        <input type="text" name="mail" value="{{ user.u_mail }}" disabled>
                    </div>
                </div>

                <div>
                    <div>Sécurité</div>
                    <div>
                        <div>
                            <div class="hint3">Ancien mot de passe :</div>
                            <input type="password" name="old_password">
                        </div>
                        <div>
                            <div class="hint3">Nouveau mot de passe :</div>
                            <input type="password" name="new_password">
                        </div>
                        <div>
                            <div class="hint3">Confirmez le nouveau mot de passe :</div>
                            <input type="password" name="new_password_verify">
                        </div>
                    </div>
                    <div>
                        <span>Enregistrer les modification</span>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}