{% extends "home_base.html" %}
{% load i18n %}
{% block body_main %}
    <form id="form_resvdetail_creatorview" action="/join_resv" method="post">
        <div id="reservation-detail-bg-image">
            <div class="resv_detail_banner_img_div">
            </div>

            <div class="reservation_detail">
                <div class="return_link">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a
                        href="javascript:history.back(-1)">{% trans "Retour au résultat" %}</a>
                </div>
                <div class="result_title">{% trans "Aperçu de rendez-vous" %}</div>
                <div class="resv_basic">
                    <div>{% trans "Numéro de rendez-vous" %} : {{ reservation.id }}</div>
                    <div>{% trans "Nom de centre" %} : {{ reservation.museum.name }}</div>
                    <div>{% trans "Adresse" %} : {{ reservation.museum.address }}</div>
                    <div>
                        <div>{% trans "Proposé par" %} : {{ reservation.creator.username }}</div>
                        <div>{% trans "Fin de Date" %} : {{ reservation.expire_date|date:"d/m/Y" }}</div>
                    </div>
                    <div>
                        <div>{% trans "Document à envoyer" %} : {{ reservation.count_doc_archive_exclude_my }}</div>
                        <div>{% trans "Vidéo à envoyer" %} : {{ reservation.count_video_archive_exclude_my }}</div>
                    </div>
                    <div>
                        <div>{% trans "Est-ce que vous êtes y allés ?" %}</div>
                        <div>
                            <input type="radio" name="goneornot" id="gone_radio" value="1"
                                   {% if reservation.status == 1 %}checked{% endif %}>{% trans "Oui" %}
                            <input type="radio" name="goneornot" id="notgo_radio" value="0"
                                   {% if reservation.status == 0 %}checked{% endif %}>{% trans "Non" %}
                        </div>
                    </div>
                    <input type="hidden" name="resv_id" id="resv_id" value="{{ reservation.id }}">
                </div>
                <div class="input_inform">{% trans "List de demandeurs" %}</div>
                <div class="join_input_div">
                    <div class="archive_document_demand">
                        <div class="document_demand_title">
                            {% trans "Les archives documentaires demandées" %}
                            : {{ reservation.count_doc_archive_exclude_my }}
                        </div>
                        {% if reservation.doc_archive_lists|length > 0 %}
                            <ul id="resv_creatorview_docarch_ul">
                                {% for item in reservation.doc_archive_lists %}
                                    <li>
                                        <div class="doc_demand_item">
                                            <div>
                                                <div>{{ item.user.username }}</div>
                                                <div>{% if item.sent_flag == 1 %}{% trans "Envoyé" %}{% else %}
                                                    <a id="doc_send_link_{{ item.user.id }}" href="#"
                                                       style="color: red;">{% trans "Envoyer" %}</a>{% endif %}
                                                </div>
                                            </div>
                                            <div>{% trans "E-mail" %}: {{ item.user.mail }}</div>
                                            {% for item2 in item.doc_archive_list %}
                                                <div class="archive_code">{% trans "Cote" %}: {{ item2.archive.id }}</div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="no_results">{% trans "Vous n'avez pas d'archives documentaires demandées." %}</div>
                        {% endif %}
                    </div>

                    <div class="archive_video_demand">
                        <div class="video_demand_title">
                            {% trans "Nombre d'archives audio-visuelles demandées" %}
                            : {{ reservation.count_video_archive_exclude_my }}
                        </div>
                        {% if reservation.video_archive_lists|length > 0 %}
                            <ul id="resv_creatorview_videoarch_ul">
                                {% for item in reservation.video_archive_lists %}
                                    <li>
                                        <div class="video_demand_item">
                                            <div>
                                                <div>{{ item.user.username }}</div>
                                                <div>{% if item.sent_flag == 1 %}{% trans "Envoyé" %}{% else %}
                                                    <a id="video_send_link_{{ item.user.id }}" href="#"
                                                       style="color: red;">{% trans "Envoyer" %}</a>{% endif %}
                                                </div>
                                            </div>
                                            <div>{% trans "E-mail" %}: {{ item.user.mail }}</div>
                                            {% for item2 in item.video_archive_list %}
                                                <div class="archive_code">{% trans "Cote" %}: {{ item2.archive.id }}</div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="no_results">{% trans "Vous n'avez pas d'archives audio-visuelles demandées." %}</div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}