{% extends "home_base.html" %}
{% block body_main %}
    <form id="form_resvdetail_creatorview" action="/join_resv" method="post">
        <div id="reservation-detail-bg-image">
            <div class="resv_detail_banner_img_div">
            </div>

            <div class="reservation_detail">
                <div class="return_link">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="javascript:history.back(-1)">Retour au résultat</a>
                </div>
                <div class="result_title">Aperçu de rendez-vous</div>
                <div class="resv_basic">
                    <div>Numéro de rendez-vous : {{ reservation.id }}</div>
                    <div>Nom de centre : {{ reservation.museum.name }}</div>
                    <div>Adresse : {{ reservation.museum.address }}</div>
                    <div>
                        <div>Proposé par : {{ reservation.creator.username }}</div>
                        <div>Fin de date : {{ reservation.expire_date|date:"d/m/Y" }}</div>
                    </div>
                    <div>
                        <div>Document à envoyer : {{ reservation.count_doc_archive_exclude_my }}</div>
                        <div>Document à envoyer : {{ reservation.count_video_archive_exclude_my }}</div>
                    </div>
                    <div>
                        <div>Est-ce que vous êtes y allés ?</div>
                        <div>
                            <input type="checkbox">Oui
                            <input type="checkbox" checked>Non
                        </div>
                    </div>
                    <input type="hidden" name="resv_id" value="{{ reservation.id }}">
                </div>
                <div class="input_inform">List de demandeurs</div>
                <div class="join_input_div">
                    <div class="archive_document_demand">
                        <div class="document_demand_title">
                            Les archives documentaires demandées : {{ reservation.count_doc_archive_exclude_my }}
                        </div>
                        {% if reservation.doc_archive_lists|length > 0 %}
                            <ul id="resv_creatorview_docarch_ul">
                                {% for item in reservation.doc_archive_lists %}
                                    <li>
                                        <div class="doc_demand_item">
                                            <div>
                                                <div>{{ item.user.username }}</div>
                                                <div>{% if reservation.status == 1 %}Envoyé{% else %}
                                                    <a href="#" style="color: red;">Envoyer</a>{% endif %}</div>
                                            </div>
                                            <div>{{ item.user.mail }}</div>
                                            {% for item2 in item.doc_archive_list %}
                                                <div class="archive_code">Cote: {{ item2.archive.id }}</div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="no_results">Vous n'avez pas d'archives documentaires demandées.</div>
                        {% endif %}
                    </div>

                    <div class="archive_video_demand">
                        <div class="video_demand_title">
                            Nombre d'archives audio-visuelles demandées
                            : {{ reservation.count_video_archive_exclude_my }}
                        </div>
                        {% if reservation.video_archive_lists|length > 0 %}
                            <ul id="resv_creatorview_videoarch_ul">
                                {% for item in reservation.video_archive_lists %}
                                    <li>
                                        <div class="video_demand_item">
                                            <div>
                                                <div>{{ item.user.username }}</div>
                                                <div>{% if reservation.status == 1 %}Envoyé{% else %}
                                                    <a href="#" style="color: red;">Envoyer</a>{% endif %}</div>
                                            </div>
                                            <div>{{ item.user.mail }}</div>
                                            {% for item2 in item.video_archive_list %}
                                                <div class="archive_code">Cote: {{ item2.archive.id }}</div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="no_results">Vous n'avez pas d'archives audio-visuelles demandées.</div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}