{% extends "home_base.html" %}
{% load i18n %}
{% block body_main %}
    {% load mrange %}
    <form id="form_create_reservation" action="/create_resv" method="post">
        <div id="reservation-create-bg-image">
            <div class="resv_detail_banner_img_div">
            </div>

            <div class="reservation_detail">
                <div class="result_title">{% trans "Aperçu de rendez-vous" %}</div>
                <div id="resv_create_detail" class="resv_basic">
                    <div>
                        <div>{% trans "Nom de centre" %} :</div>
                        <select name="sel_museum" id="select_museum">
                            {% for item in museum_list %}
                                <option value="{{ item.id }}"
                                        {% if item.name == museum_name %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>{% trans "Adresse" %} : <span id="auto_museum_address">{{ address }}</span></div>
                    <div>
                        <div>{% trans "Proposé par" %} : {{ user.username }}</div>
                        <div id="resv_create_findedate">
                            <div>{% trans "Fin de Date" %} :</div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker3'>
                                    <input type='text' class="form-control" name="resvEndDate"
                                           value="{{ resv_end_date|date:"d/m/Y" }}"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar btn-sm"></span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker3').datetimepicker({
                                        format: 'DD/MM/YYYY',
                                        locale: moment.locale('fr-FR')
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div>
                        <div>{% trans "Nombre document disponible" %} : {{ available_doc_archive_count }}</div>
                        <div>{% trans "Nombre vidéo disponible" %} : {{ available_video_archive_count }}</div>
                    </div>
                </div>
                <div class="input_inform">{% trans "Merci de compléter les informations suivantes pour finaliser votre rendez-vous" %}
                </div>
                <div class="join_input_div">
                    <div class="archive_document_demand">
                        <div class="document_demand_title">
                            {% trans "Nombre d'archives documentaires demandées" %} :
                            <select name="needed_doc_demand_count" id="doc_demand_count">
                                {% if available_doc_archive_count > 0 %}
                                    <option value="0" selected>0</option>
                                    {% for i in available_doc_archive_count|mrange %}
                                        <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">0</option>
                                {% endif %}
                            </select>
                        </div>
                        {% if available_doc_archive_count > 0 %}
                            <ul id="doc_archive_input_ul">
                                {% for j in available_doc_archive_count|mrange %}
                                    <li id="li_doc_{{ j|add:1 }}">
                                        <div class="doc_demand_item">
                                            <div>- {% trans "Archives" %} N°{{ j|add:1 }} :</div>
                                            <div>
                                                <div>
                                                    <div>{% trans "Cote" %}<span style="color:red;">*</span> :</div>
                                                    <input type="text" name="doc_archive_id_{{ j|add:1 }}">
                                                </div>
                                                <div>
                                                    <div>{% trans "Folio" %} :</div>
                                                    <input type="number" name="doc_folio_{{ j|add:1 }}">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="no_results"
                             id="no_doc_archive_demand_notice_div">{% trans "Vous n'avez pas d'archives documentaires demandées." %}
                        </div>
                    </div>

                    <div class="archive_video_demand">
                        <div class="video_demand_title">
                            {% trans "Nombre d'archives audio-visuelles demandées" %} :
                            <select name="needed_video_demand_count" id="video_demand_count">
                                {% if available_video_archive_count > 0 %}
                                    <option value="0" selected>0</option>
                                    {% for i in available_video_archive_count|mrange %}
                                        <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">0</option>
                                {% endif %}
                            </select>
                        </div>
                        {% if available_video_archive_count > 0 %}
                            <ul id="video_archive_input_ul">
                                {% for i in available_video_archive_count|mrange %}
                                    <li id="li_video_{{ i|add:1 }}">
                                        <div class="video_demand_item">
                                            <div>- {% trans "Archives" %} N°{{ i|add:1 }} :</div>
                                            <div>
                                                <div>
                                                    <div>{% trans "Cote" %}<span style="color:red;">*</span> :</div>
                                                    <input type="text" name="video_archive_id_{{ i|add:1 }}">
                                                </div>
                                                <div>
                                                    <div>{% trans "Ouvert" %} :</div>
                                                    <input type="text" name="video_ouvert_{{ i|add:1 }}">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="no_results"
                             id="no_video_archive_demand_notice_div">{% trans "Vous n'avez pas d'archives audio-visuelles demandées." %}
                        </div>
                    </div>

                    <div class="vos_information">
                        <div class="vos_information_title">
                            {% trans "Vos informations" %} :
                        </div>
                        <div class="vos_information_info">
                            {% trans "Merci de renseignez au moins une méthode de contact pour que le owner de ce rendez-vous peut vous contacter et peut vous envoyer les archives que vous avez demandées dans ce rendez-vous." %}
                        </div>
                        <div>
                            <div>
                                <div>{% trans "Nom" %} :</div>
                                {{ user.last_name }}</div>
                            <div>
                                <div>{% trans "Prénom" %} :</div>
                                {{ user.first_name }}</div>
                        </div>
                        <div>
                            <div>{% trans "Adresse e-mail" %} :</div>
                            <input type="email" name="receiver_email" value="

                                    {% if user.receiver_mail %}{{ user.receiver_mail }}{% else %}{{ user.mail }}{% endif %}">
                        </div>
                    </div>
                </div>

                <div class="cancle_comfirm_div">
                    <a href="javascript:history.back(-1)">{% trans "Annuler" %}</a>
                    <div id="btn_create_request">{% trans "Confirmer" %}</div>
                </div>

            </div>
        </div>
        </div>
    </form>
{% endblock %}