{% extends "home_base.html" %}
{% load i18n %}
{% block body_main %}
    <div id="sc-bg-image">
        <div class="selfcenter_title">{% trans "Bienvenue dans votre espace personnel" %}</div>

        <div id="line_profile">
            <div id="link_to_profile">
                <div class="sc_imgs" id="sc_profile_img"></div>
                <div>
                    <div>{% trans "Mon profil" %}</div>
                    <div>{% trans "Vous pouvez ici modifier vos coordonnées et informations personnelles." %}</div>
                </div>
            </div>
            <div id="link_to_favorites">
                <div class="sc_imgs" id="sc_favorites_img"></div>
                <div>
                    <div>{% trans "Mes favoris" %}</div>
                    <div>{% trans "Retrouvez toutes les ressources que vous avez ajoutées à vos favoris." %}</div>
                </div>
            </div>
            <div id="link_to_messagelist">
                <div class="sc_imgs" id="sc_messages_img"></div>
                <div>
                    <div>{% trans "Ma messagerie" %}</div>
                    <div>{% trans "Retrouvez toutes les notifications que vous avez reçues pour vos opérations." %}
                    </div>
                </div>
            </div>
        </div>

        <div id="line_reservation">
            <div id="link_to_reservation">
                <div class="sc_imgs" id="sc_reservation_img"></div>
                <div>
                    <div>{% trans "Mes rendez-vous" %}</div>
                    <div>{% trans "Retrouvez touts les rendez-vous que vous avez demandés ou rejoint." %}</div>
                </div>
            </div>
            <div id="link_to_demand">
                <div class="sc_imgs" id="sc_demand_img"></div>
                <div>
                    <div>{% trans "Mes demandes" %}</div>
                    <div>{% trans "Retrouvez toutes les demandes que vous avez demandées." %}</div>
                </div>
            </div>
            <div id="link_to_logout">
                <div class="sc_imgs" id="sc_logout_img"></div>
                <div>
                    <div>{% trans "Déconnexion" %}</div>
                    <div>{% trans "Pensez à vous déconnecter une fois votre session terminée." %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}