<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historien</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/splash.css">
</head>
<body>
<div id="bg-image">
    <div id="splash-title"><span>Bienvenue au Archivesses</span></div>
    <div id="splash-content">
        <div>
            <span>Découvrez les ressources des qrchives françaises</span><br/><span>via 24 000 inventaires en ligne.</span>
        </div>
        <div>Accédez à plus de 8 millions d'imaes numérisées.</div>
        <div><span>Prenez un rdv en ligne avec les autres</span><br/><span>pour les archives en papier.</span></div>
    </div>
    <div id="clear-split"></div>
    <div id="splash-btn"><a href="/search/" style="text-underline-style: single">Commence votre visite</a></div>

</div>
</body>
</html>