<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historien</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/welcome.css">
</head>
<body>
<div id="bg-image" class="bg_fill_parent">
    <div id="splash-title"><span>Bienvenue au Archivesses</span></div>
    <div id="splash-content">
        <div>- Découvrez les ressources des archives françaises en ligne</div>
        <div>- Prenez un rdv en ligne pour les centres éloignés</div>
        <div>- Demander un document en ligne</div>
    </div>
    <div id="clear-split"></div>
    <div id="splash-btn"><a href="/to_search" style="text-underline-style: single">Commence votre visite</a></div>

</div>
</body>
</html>